<h1>Listing moment_categories</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moment_categories.each do |moment_category| %>
      <tr>
        <td><%= moment_category.text %></td>
        <td><%= link_to 'Show', moment_category %></td>
        <td><%= link_to 'Edit', edit_moment_category_path(moment_category) %></td>
        <td><%= link_to 'Destroy', moment_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moment category', new_moment_category_path %>
