<h1>Listing favourite_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourite_categories.each do |favourite_category| %>
      <tr>
        <td><%= favourite_category.title %></td>
        <td><%= link_to 'Show', favourite_category %></td>
        <td><%= link_to 'Edit', edit_favourite_category_path(favourite_category) %></td>
        <td><%= link_to 'Destroy', favourite_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourite category', new_favourite_category_path %>
